@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;
  
  --font-sans: "Inter", "Geist", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    letter-spacing: 0.05em;
  }
}

/* Lenis Smooth Scroll Recommended Styles */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
